*{
    margin:0;
    padding:0;
    text-align: center;
    background-color: lightblue;

}
h1{
    background-color:rgb(31, 10, 51);
    color: #fff;
    height: 5rem;
    line-height: 5rem;
margin: 1rem;}

.choice{
    height: 230px;
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    border-radius: 50%;
}

.choice:hover{
    opacity: 0.7;
    background-color: rgb(31, 10, 51);
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

img{
    height: 220px;
    width: 220px;
    object-fit: cover;
    border-radius: 50%;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 2rem;
    margin-top: 3rem;
}

#user-score, #comp-score{
    font-size: 4rem;
}

.msg-container{
    margin-top: 3rem;
}

#msg{
    background-color:  rgb(31, 10, 51);
    color: #fff;
    padding: 1rem;
    font-size: 2rem;
    display: inline;
    border-radius: 1rem;

}

@media only screen and (max-width: 600px) {
    h1{
        font-size: 2rem;
    }
    .choice{
        height: 150px;
        width: 150px;
    }
    img{     
        height: 140px;
        width: 140px;
    }
    .score-board{
        font-size: 1rem;
        gap: 2rem;
        margin: 2rem 0 2rem 0;
    }
    
    #user-score, #comp-score{
        font-size: 2rem;
    }
    
    .msg-container{
        margin-top: 1rem;
    }
    
    #msg{
        background-color:  rgb(31, 10, 51);
        color: #fff;
        font-size: 1rem;
        display: inline;
        border-radius: 1rem;
    
    }
  }